<a href="https://colab.research.google.com/github/pseyti/business_case/blob/main/Ifood_case.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!pip install -U pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.1.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.26)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.8.2)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.6.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26781 sha256=849cc76b2e5198cae5eb7ab2f22996af025f8a2f962b091e5fce1c9875c9f5ed
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [8]:
import pandas as pd
import seaborn as sns
import pandasql as ps
from sklearn.svm import LinearSVC

In [22]:
uri = 'https://raw.githubusercontent.com/ifood/ifood-data-business-analyst-test/master/ml_project1_data.csv'
base = pd.read_csv(uri)

In [36]:
# adding columns in order to build charts for customer segmentation #

q1 = """select base.*
, 2021-Year_Birth as age
, case when response=1 then 'True' else 'False' end as campaign_label 
, case when 2021-Year_Birth <=20 then '<=20'
     when 2021-Year_Birth between 21 and 40 then '20 - 40' 
     when 2021-Year_Birth between 41 and 60 then '40-60'
else '>60' end as age_label
, case when income between 1 and 10000 then '1- 10k'
       when income between 10001 and 20000 then '10k- 20kk'
       when income between 20001 and 30000 then '20k- 30k'
       when income between 30001 and 40000 then '30k- 40k'
       when income between 40001 and 50000 then '40k- 50k'
       when income between 50001 and 60000 then '50k- 60k'
       when income between 60001 and 70000 then '60k- 70k'
       when income between 70001 and 80000 then '70k- 80k'
       when income between 80001 and 90000 then '80k- 90k'
       when income between 90001 and 100000 then '90- 100k'
       else 'above 100k'
  end as income_label

from base """

print(ps.sqldf(q1, locals()))

         ID  Year_Birth   Education  ... campaign_label  age_label  income_label
0      5524        1957  Graduation  ...           True        >60      50k- 60k
1      2174        1954  Graduation  ...          False        >60      40k- 50k
2      4141        1965  Graduation  ...          False      40-60      70k- 80k
3      6182        1984  Graduation  ...          False    20 - 40      20k- 30k
4      5324        1981         PhD  ...          False    20 - 40      50k- 60k
...     ...         ...         ...  ...            ...        ...           ...
2235  10870        1967  Graduation  ...          False      40-60      60k- 70k
2236   4001        1946         PhD  ...          False        >60      60k- 70k
2237   7270        1981  Graduation  ...          False    20 - 40      50k- 60k
2238   8235        1956      Master  ...          False        >60      60k- 70k
2239   9405        1954         PhD  ...           True        >60      50k- 60k

[2240 rows x 33 columns]

In [1]:
excel_base = pd.DataFrame(ps.sqldf(q1, locals()))
excel_base.to_csv()

NameError: ignored